

<div class="row mainHeader">
    <div class="col-4">
        <h5 style="margin-top: revert">ورود به حساب کاربری</h5>
    </div>
    <div class="col-4">
        <h1 style="margin-top: revert">اپلیکیشن کروز من</h1>
    </div>
    <div class="col-4">
        <img style="float:inline-end" src="MyCrouse-white-3.png" />
    </div>


</div>
