@page "/"
<br />
<div class="container" style="border:2px solid red">
<div class="row justify-content-start">
    <div class="col-2">
            <div class="bg-primary">start</div>
    </div>
        <div class="col-2">
            <div class="bg-success">start</div>
        </div>
        <div class="col-2">
            <div class="bg-info">start</div>
        </div>

</div>
<br />
    <div class="row justify-content-end">
        <div class="col-2">
            <div class="bg-primary">end</div>
        </div>
        <div class="col-2">
            <div class="bg-success">end</div>
        </div>
        <div class="col-2">
            <div class="bg-info">end</div>
        </div>

    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="bg-primary">center</div>
        </div>
        <div class="col-2">
            <div class="bg-success">center</div>
        </div>
        <div class="col-2">
            <div class="bg-info">center</div>
        </div>

    </div>
    <br />
    <div class="row justify-content-around">
        <div class="col-2">
            <div class="bg-primary">around</div>
        </div>
        <div class="col-2">
            <div class="bg-success">around</div>
        </div>
        <div class="col-2">
            <div class="bg-info">around</div>
        </div>

    </div>
    <br />
    <div class="row justify-content-evenly">
        <div class="col-2">
            <div class="bg-primary">evenly</div>
        </div>
        <div class="col-2">
            <div class="bg-success">evenly</div>
        </div>
        <div class="col-2">
            <div class="bg-info">evenly</div>
        </div>

    </div>


</div>
<div class="container" style="border:2px solid red">
    <div class="row justify-content-start">
        <div class="col-2">
            <div class="bg-primary">start</div>
        </div>
    </div>
    <br />
    <div class="row justify-content-end">
        <div class="col-2">
            <div class="bg-primary">end</div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="bg-primary">center</div>
        </div>
    </div>
    <br />
    <div class="row justify-content-around">
        <div class="col-2">
            <div class="bg-primary">around</div>
        </div>
    </div>
    <br />
    <div class="row justify-content-evenly">
        <div class="col-2">
            <div class="bg-primary">evenly</div>
        </div>
    </div>


</div>
<div style="border:1px solid blue" class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
<div style="border:1px solid blue" class="d-inline-flex p-2 bd-highlight">I'm a flexbox container!</div>
<br />
<div class="d-flex flex-row bd-highlight mb-3" style="border:1px solid green">
    <div class="p-2 bd-highlight">Flex item 1</div>
    <div class="p-2 bd-highlight">Flex item 2</div>
    <div class="p-2 bd-highlight">Flex item 3</div>
</div>
<div class="d-flex flex-row-reverse bd-highlight" style="border:1px solid green">
    <div class="p-2 bd-highlight">Flex item 1</div>
    <div class="p-2 bd-highlight">Flex item 2</div>
    <div class="p-2 bd-highlight">Flex item 3</div>
</div>
<br />
<br />
<div class="d-flex align-items-start" style="border:1px solid green;height:100px">
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 1</div>
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 2</div>
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 3</div>

</div>
<div class="d-flex align-items-end" style="border:1px solid green;height:100px">
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 1</div>
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 2</div>
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 3</div>
</div>
<div class="d-flex align-items-center" style="border:1px solid red;height:100px">
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 1</div>
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 2</div>
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 3</div>
</div>
<div class="d-flex align-items-baseline" style="border:1px solid green;height:100px">
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 1</div>
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 2</div>
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 3</div>
</div>
<div class="d-flex align-items-stretch" style="border:1px solid green;height:100px">
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 1</div>
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 2</div>
    <div class="p-2 bd-highlight" style="border:1px solid black">Flex item 3</div>
</div>
<br />

<div class="container border border-info">
    <div class="row border border-danger gx-2 gy-4">
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
    </div>
    
</div>
<br />
<br />
<br />
<div class="position-relative">
    <div class="position-absolute top-0 start-0">1</div>
    <div class="position-absolute top-0 end-0">2</div>
    <div class="position-absolute top-50 start-50">3</div>
    <div class="position-absolute bottom-50 end-50">4</div>
    <div class="position-absolute bottom-0 start-0">5</div>
    <div class="position-absolute bottom-0 end-0">6</div>
</div>


